.main-container .content-area {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

span.title span {
    color: #ff5722;
}

#toggleContainer {
	display: inline;
}

#ichartTemplateCard, #datagridCard {
    display: none;
}

.clr-col-6 {
    display: inline-flex;
}

.select-month-section {
    padding: 0.7rem;
}

.select-month-section .clr-select-wrapper {
    padding-left: 1rem;
}